* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Jost", sans-serif;
}

/* HEADER */
header {
  border-bottom: 1px solid rgb(180, 180, 180);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100px;
  z-index: 9;
  transition: all 0.5s;
}
  /* Logo */
header #portNav .navbar-brand {
  font-size: 1.9rem;
  font-weight: bold;
  color: white;
}
header #portNav .navbar-brand .logo_bottom{
  font-size: 0.9rem;
  margin: -7px 0 0 40px;
}
header #portNav .navbar-brand i {
  color: #00a63f;
}

header #portNav #navbarScroll .navbar-nav {
  margin-left: 50px;
}
header #navbarScroll .navbar-nav a.nav-link {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0 5px 0 20px;
}
header #navbarScroll .navbar-nav a.dropdown-item {
  color: #6C6888;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 5px 0 20px;
}
header #navbarScroll .navbar-nav .page i{
  color: white;
}
header #navbarScroll .dropdown-menu{
  width: 195px;
  line-height: 40px;
  border: 1px solid rgba(108, 104, 136, 0.1);
  border-radius: 15px;
}
header #navbarScroll .navbar-nav i {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

  /* Nút search */
header #navbarScroll i.fa-search {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #00a63f;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  color: white;
  z-index: 999;
}
.zoomed {
  animation: zoom-out 0.5s;
  opacity: 0;
}
.normal {
  animation: zoom-in 0.5s;
}
    /* Cụm 2 nút search và đổi theme */
#portNav #navbarScroll .button_right{
  position: absolute;
  top: 22px;
  right: 0;
}

  /* button light/dark */
#switchButton {
  font-size: 25px;
  color: black;
  transition: all 0.5s;
  height: 46px;
}
  /* ngăn di chuyển nút serach khi bấm nút đổi theme */
#switchButton::after{
  content: "22";
  font-size: 26px;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
#switchButton .fa-moon {
  color: white;
}
#switchButton:focus {
  box-shadow: none;
}
      /* Light theme */
#myBody {
  background-color: white;
  transition: all 0.5s;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
    /* Dark Theme*/
    /* khi ko thể áp màu chữ nên thêm trực tiếp thẻ   darkthem   nếu cần chuyển chữ màu trắng và    darktheme_gray   nếu cần chuyển màu xám*/
.dark#myBody {
  background-color: rgb(21, 20, 33);
  color: white;
  transition: all 0.5s;
}
.dark #switchButton {
  color: white;
}
.dark #switchButton .fa-sun {
  display: block;
}
.dark #switchButton .fa-moon {
  display: none;
}
#myBody.dark .darktheme {
    color: white;
}
#myBody.dark .darktheme_gray {
  color: rgb(180, 180, 180);
  transition: all 0.5s;
}
#myBody.dark #navbarScroll dropdown-menu {
  border: 0.2px solid rgba(180, 180,180, 0.1);
  background-color: black;
}

  /* Full search */
.full_search {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
  z-index: 99;
}
.full_search .overplay_full {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  none;
  position: absolute;
  top: 27px;
  right: 12%;
  animation: zoomfull 0.5s forwards;
  transition: all 0.5s;
  z-index: 2;
}
.full_search .fa-close {
  color: white;
  position: absolute;
  top: 70px;
  right: 12%;
  z-index: 9;
  font-size: 80px;
  cursor: pointer;
  animation: rotateX 0.5s;
  transition: all 0.5s;
}
.full_search input.input-search {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 54px;
  outline: 0;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.full_search input.input-search::placeholder {
  color: white;
  font-weight: 300;
}


  /* menu show khi màn hình thu nhỏ */
.navbar-toggler {
  background-color: #00a63f;
}
.navbar-toggler i{
  color: white;
}
#portNav #navbarScroll.navbar-collapse.show .navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
#portNav #navbarScroll.navbar-collapse.show{
  margin-left: 0 !important; 
  margin: 20px 0;
  text-align: center;
  align-items: center;
}
#portNav #navbarScroll.navbar-collapse.show li{
  width: 100%;
  height: 1.7rem;
}
#portNav #navbarScroll.navbar-collapse.show a{
  font-size: 1rem;
  line-height: 1.2rem;
}
#portNav #navbarScroll.navbar-collapse.show .nav-item.dropdown .page{
  padding: 0 !important;
  text-align: center;
  width: 100%;
}
#portNav #navbarScroll.navbar-collapse.show ul.dropdown-menu{
  width: 100%;
  text-align: center;
}
.dark#myBody #portNav #navbarScroll.navbar-collapse ul.dropdown-menu{
  background-color: #151421;
}
#portNav #navbarScroll.navbar-collapse.show ul.dropdown-menu a{
  font-size: 0.9rem;
}
#portNav #navbarScroll.navbar-collapse.show .nav-item.dropdown i{
  position: absolute;
  top: 0;
  right: 0;
}


  /* đổi màu header khi scoll */
#header.scrolled {
  background-color: white;
  border: none;
  height: 80px;
}
#header.scrolled.darktheme{
  background-color: #151421;
}
#header.scrolled .navbar #portNav{
  transform: translateY(-10px);
  transition: all 0.3s;
}
#header.scrolled #navbarScroll .navbar-nav #active a {
  color: #00a63f;
}
#header.scrolled .logo,
#header.scrolled #switchButton .fa-moon{
  color: #3F3A64;
}
#header.scrolled #navbarScroll .navbar-nav a.nav-link,
#header.scrolled #navbarScroll .navbar-nav i{
  color: #6C6888;
}


/* CAROUSEL */
.carousel{
  height: 110vh;
}
.carousel .carousel_overplay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(50, 52, 70, 0.7);
}

  /* đường sóng lượn */
.carousel svg{
  position: absolute;
  bottom: 0;
  left: 0;
  fill: white;
  transition: all 0.5s;
  z-index: 5;
}
.dark#myBody .carousel svg{
  fill: #151421;
}

  /* 2 nút trái/phải */
.carousel .button_control{
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 100px;
  position: absolute;
  bottom: -1.5%;
  right: 2%;
  z-index: 7;
}
.carousel .button_control button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(108, 104, 136, 0.3);
  color: #151421;
  background-color: white;
  opacity: 1;
  transition: all 0.5s;
}
.dark#myBody .carousel .button_control button{
  background-color: #151421;
  border: 1px solid rgba(108, 104, 136, 0.4);
  box-shadow: none;
  color: white;
}

  /* content */
.carousel #carouselExampleCaptions img {
  height: 110vh;
  object-fit: cover;
}
.carousel #carouselExampleCaptions .carousel-caption{
  width: 60%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 1;
  text-align: left;
  padding-left: 13%;
}

.carousel .carousel-caption h2{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}
.carousel .carousel-caption p{
  font-size: 20px;
  margin-bottom: 20px;
}
.carousel .carousel-caption button{
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #00a63f;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
}
.carousel #carouselExampleCaptions .carousel-caption button:hover{
  background-color: #008030;
}





/* backtotop */
.back-to-top {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  color: white;
  background-color: #00a63f;
  border-radius: 50%;
  position: fixed;

  opacity: 0;
  visibility: hidden;
}
.back-to-top:hover i{
  color: white;
}
.cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}
.cd-top--fade-out { 
  opacity: 1;
}

/* MEDIA RESPONSIVE */
@media screen and (max-width:1200px) {
  .carousel{
    height: 110vh;
  }
  .carousel #carouselExampleCaptions img {
    height: 110vh;
  }
  .carousel .carousel-caption h2{
    font-size: 50px;
  }
  .carousel #carouselExampleCaptions .carousel-caption{
    width: 70%;
    padding-left: 11%;
  }
}
@media screen and (max-width:992px) {
  .carousel{
    height: 100vh;
  }
  .carousel #carouselExampleCaptions img {
    height: 100vh;
  }
  .carousel .carousel-caption h2{
    font-size: 45px;
  }
  .carousel #carouselExampleCaptions .carousel-caption{
    width: 80%;
    padding-left: 9%;
  }
}
@media screen and (max-width:768px) {
  /* Carousel */
  .carousel{
    height: 90vh;
  }
  .carousel #carouselExampleCaptions img {
    height: 90vh;
  }
  .carousel .carousel-caption h2{
    font-size: 40px;
  }
  .carousel #carouselExampleCaptions .carousel-caption{
    width: 90%;
    padding-left: 7%;
  }
}
@media screen and (max-width:576px) {
  /* Carousel */
  .carousel{
    height: 80vh;
  }
  .carousel #carouselExampleCaptions img {
    height: 80vh;
  }
  .carousel .carousel-caption h2{
    font-size: 35px;
  }
  .carousel #carouselExampleCaptions .carousel-caption{
    width: 100%;
    padding-left: 5%;
  }
}

/* Keyframe Search Button */
@keyframes zoom-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(24);
  }
}
@keyframes zoom-in {
  0% {
    opacity: 1;
    transform: scale(48);
  }
  100% {
    transform: scale(1);
  }
}

/* Keyframe search full */
@keyframes zoomfull {
50%{
    
        background-color: #00a63f;
    }
    100%{
    background-color: #00a63f;
    transform: scale(96);
    }
  }

/* Keyframe rotate buttonX */
@keyframes rotateX {
  100%{
    transform: rotate(-90deg);
  }
}

